$primary: #03254c;
$secondary: #1167b1;
$info: #d0efff;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

:root {
  --bs-body-font-family: "Montserrat", sans-serif;
}
